.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 80px;
	margin: 60px 200px 0 200px;
	form {
		justify-self: center;
		align-self: center;
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 300px;
		div {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}

	.description {
		width: 320px;
		justify-self: center;
		h1 {
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		p {
			margin-bottom: 20px;
		}
		.contacts {
			display: flex;
			flex-direction: column;
			gap: 10px;
			div {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
	}
}